<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ambra Hovenier, Esmay Wissink, Nick van de Polder, Evy Kuenen">
    <title>BLAST</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
  </head>


  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">BLAST</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link"  href="index.html">Home</a>
        <a class="nav-link active" aria-current="page" href="graphs.html">Graphs</a>
        <a class="nav-link"  href="table.html">Table</a>
        <a class="nav-link" href="learnmore.html">Learn more</a>
      </nav>
    </div>
  </header>


   <br>
      <div class="container_graph" >
        <p>Hier komt de grafiek!</p>
      </div>
    <br>
      <div class="container_graph" >
        <p>Hier komt de grafiek!</p>
      </div>


  <footer class="mt-auto text-white-50">
    <p>&copy;copyright groepje 3</p>
  </footer>
</div>



  </body>
</html>
