<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head><!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ambra Hovenier, Esmay Wissink, Nick van de Polder, Evy Kuenen">
    <title>BLAST</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
  </head>


  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">BLAST</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link"  href="index.html">Home</a>
        <a class="nav-link" href="graphs.html">Graphs</a>
        <a class="nav-link active" aria-current="page" href="table.html">Table</a>
        <a class="nav-link" href="learnmore.html">Learn more</a>
      </nav>
    </div>
  </header>

<table cellpadding="10">
  <tr valign="top">
    <td class = "tabellinks">
      <b>FILTERS</b><p>
      <div class = "filters">
        <form action="/action_page.php">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Organisme">
  <label for="vehicle1"> Organisme</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Eiwit">
  <label for="vehicle2"> Eiwit</label><br>
      <br>
  <label for="fname">E-value</label><br>
  <input type="text" id="fname" name="fname" ><br>
           </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  <input type="submit" value="Submit">
</form>


    </td>
    <td class = "tabelrechts" >
      <b>TABEL</b>
      <p>hier komt de tabel te staan</p>
    </td>

   </tr>
<table>

  <footer class="mt-auto text-white-50">
    <p>&copy;copyright groepje 3</p>
  </footer>
</div>



  </body>
</html>

<body>

</body>
</html>