<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="author"
          content="Ambra Hovenier, Esmay Wissink, Nick van de Polder,
          Evy Kuenen">
    <title>BLAST</title>
    <link rel="canonical"
          href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/cover.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static',filename='toad.gif') }}"
          type="image/gif" sizes="100%">
    <script>
        window.onload = function () {

            var organismetabel = new CanvasJS.Chart("chartContainer1", {
                theme: "dark2",
                animationEnabled: true,
                title: {
                    text: "Top 10 organismen in sample"
                },
                axisX: {
                    margin: 10,
                    tickPlacement: "inside"
                },
                axisY2: {
                    title: "aantal voorkomen in sample",
                    titleFontSize: 14,
                    includeZero: true,

                },
                data: [{
                    type: "bar",
                    name: "test0",
                    axisYType: "secondary",
                    yValueFormatString: "#,###.##",
                    indexLabel: "{y}",
                    dataPoints: [
                        {label: "{{ org10 }}", y: {{ corg10 }}},
                        {label: "{{ org9 }}", y: {{ corg9 }}},
                        {label: "{{ org8 }}", y: {{ corg8 }}},
                        {label: "{{ org7 }}", y: {{ corg7 }}},
                        {label: "{{ org6 }}", y: {{ corg6 }}},
                        {label: "{{ org5 }}", y: {{ corg5 }}},
                        {label: "{{ org4 }}", y: {{ corg4 }}},
                        {label: "{{ org3 }}", y: {{ corg3 }}},
                        {label: "{{ org2 }}", y: {{ corg2 }}},
                        {label: "{{ org1 }}", y: {{ corg1 }}}
                    ]
                }]
            });
            organismetabel.render();


            var eiwittabel = new CanvasJS.Chart("chartContainer2", {
                theme: "dark2",
                animationEnabled: true,
                title: {
                    text: "Top 10 eiwitten in sample"
                },
                axisX: {
                    margin: 10,
                    tickPlacement: "inside"
                },
                axisY2: {
                    title: "aantal voorkomen in sample",
                    titleFontSize: 14,
                    includeZero: true,
                },
                data: [{
                    type: "bar",
                    name: "test1",
                    axisYType: "secondary",
                    yValueFormatString: "#,###.##",
                    indexLabel: "{y}",
                    dataPoints: [
                        {label: "{{ ei10 }}", y: {{ cei10 }}},
                        {label: "{{ ei9 }}", y: {{ cei9 }}},
                        {label: "{{ ei8 }}", y: {{ cei8 }}},
                        {label: "{{ ei7 }}", y: {{ cei7 }}},
                        {label: "{{ ei6 }}", y: {{ cei6 }}},
                        {label: "{{ ei5 }}", y: {{ cei5 }}},
                        {label: "{{ ei4 }}", y: {{ cei4 }}},
                        {label: "{{ ei3 }}", y: {{ cei3 }}},
                        {label: "{{ ei2 }}", y: {{ cei2 }}},
                        {label: "{{ ei1 }}", y: {{ cei1 }}}
                    ]
                }]
            });
            eiwittabel.render();
        }
    </script>
</head>


<body class="d-flex h-100 text-center text-white bg-dark">

<div class=" d-flex w-100 h-100 p-3 mx-auto flex-column">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">BLAST</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link"
                   href="{{ url_for('index') }}">Home</a>
                <a class="nav-link active" aria-current="page"
                   href="{{ url_for('graphs') }}">Graphs</a>
                <a class="nav-link"
                   href="{{ url_for('table') }}">Table</a>
                <a class="nav-link" href="{{ url_for('learn_more') }}">Learn
                    more</a>
            </nav>
        </div>

    </header>
</div>



    <br>
    <div class="container_graph">
        <div id="chartContainer1"
             style="height: 500px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js">

        </script>
        <script>organismetabel</script>
    </div>
    <br>
    <div class="container_graph">
        <div id="chartContainer2"
             style="height: 500px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js">

        </script>
        <script>eiwittabel</script>
    </div>


    <footer class="mt-auto text-white-50">
        <p>&copy;copyright groepje 3</p>
    </footer>
</div>


</body>
</html>
