<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="author"
          content="Ambra Hovenier, Esmay Wissink, Nick van de Polder,
          Evy Kuenen">
    <title>BLAST</title>
    <link rel="icon" href="{{ url_for('static',filename='toad.gif') }}"
          type="image/gif" sizes="100%">
    <!-- hieronder in de head staan alle imports van bootstrap-->
    <link rel="canonical"
          href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/cover.css" rel="stylesheet">
</head>


<body class="d-flex h-100 text-center text-white bg-dark">

<div class=" d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <!-- in de header staat de navigatie-->
            <div>
                <h3 class="float-md-start mb-0">BLAST</h3>
                <nav class="nav nav-masthead justify-content-center
                float-md-end">
                    <a class="nav-link"
                       href="{{ url_for('index') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('graphs') }}">Graphs
                    </a>
                    <a class="nav-link active" aria-current="page"
                       href="{{ url_for('table') }}">Table</a>
                    <a class="nav-link"
                       href="{{ url_for('learn_more') }}">Learn
                        more</a>
                </nav>
            </div>
        </header>
    </div>
    <table cellpadding="10">
        <tr valign="top">
            <td class="tabellinks">
                <b>FILTERS</b>
                <p>
                <div class="filters">
                <!-- hier in de class filters staan alle filters-->
                    <form action="/table" method="POST">
                        <label>E-value tussen</label><br>
                        <input type="text" class="tekstinvulveldlinks"
                               name="e_value_min" placeholder="minimum">
                        <p style='display:inline'> en </p>
                        <input type="text" class='tekstinvulveldrechts'
                               name="e_value_max" placeholder="maximum"><br><br>
                        <label>Percent identity</label><br>
                        <input type="text" class="tekstinvulveldlinks"
                               name="percent_identity_min" placeholder="minimum">
                        <p style='display:inline'> en </p>
                        <input type="text" class='tekstinvulveldrechts'
                               name="percent_identity_max" placeholder="maximum"><br>
                        <br>
                        <label>Zoek op organisme</label><br>
                        <input class='input' type="text"
                               name="organism"><br>
                        <label>Zoek op eiwit</label><br>
                        <input class='input' type="text" name="protein"><br>

                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>

            </td>

            <td class="tabelrechts">
                <b>TABLE</b>
                <!-- in dit deel van de tabel staan alle resultaten die uit de
                 database opgehaald worden.-->
                <table class="tabelresultaat">
                    <tr>
                        <th class="tabelresultaat">Score</th>
                        <th class="tabelresultaat">E-value</th>
                        <th class="tabelresultaat">Identity%</th>
                        <th class="tabelresultaat">Organisme</th>
                        <th class="tabelresultaat">Eiwit</th>
                        <th class="tabelresultaat">Accessiecode</th>
                        <th class="tabelresultaat">Positives</th>
                    </tr>
                    {% for x in data %}
                    <tr>
                        <td class="tabelresultaat">{{x[0]}}</td>
                        <td class="tabelresultaat">{{x[1]}}</td>
                        <td class="tabelresultaat">{{x[2]}}</td>
                        <td class="tabelresultaat">{{x[3]}}</td>
                        <td class="tabelresultaat">{{x[4]}}</td>
                        <td class="tabelresultaat">{{x[5]}}</td>
                        <td class="tabelresultaat">{{x[6]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>

        </tr>
        <table>

            <footer class="mt-auto text-white-50">
                <!-- in deze footer staat onze copyright-->
                <p>&copy;copyright groepje 3</p>
            </footer>
        </table>
    </table>
</div>
</body>
</html>
